* {
	margin: 0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333333;
}
h1 {
	font-size: 30px;
	font-variant: small-caps;
	color: rgb(76, 1, 138);
	padding: 20px;
}

p {
	color:black;
	font-size: 20px;
}

body {
	background-image: url('./images/Between The Clouds.jpg');
	width: 100%;
	height: 100%;
	background-size: cover;
	width: 790px;
	margin: 0 auto;
	position:relative;
}
form{
	background-image: url('./images/Endless_River.jpg');
	background-size: cover;
	border: 2px solid black;
	border-radius: 10px;
    width: 790px;
	margin: 2px auto;
	padding: 25px;
	position:relative;
}

#button {
	border-radius: 5px;
	border: 2px solid black;
	color: white;
	padding: 5px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;

	/* cor da fonte  */
	background-color: white;
	color: rgb(2, 71, 2);
	font-weight: bold;
	border: 2px solid black;
  }
  
/* cor de transição do botao */
#button:hover {background-color: #87fc59;}

#IndNam{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#IndNsc{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#sub{
	border-radius: 5px;
	border: 2px solid black;
	color: white;
	padding: 5px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;

	/* cor da fonte  */
	background-color: white;
	color: black;
	font-weight: bold;
	border: 2px solid black;
}
#sub:hover {background-color: #0e70e0;}

#res{
	border-radius: 5px;
	border: 2px solid black;
	color: white;
	padding: 5px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;

	/* cor da fonte  */
	background-color: white;
	color: black;
	font-weight: bold;
	border: 2px solid black;
}
#res:hover {background-color: #e73d3d;}